:root {
  /* Primary */

--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

/* Neutral */

--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'InterRegular', sans-serif;
}

@font-face {
  font-family: 'InterRegular';
  src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterBold';
  src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'InterExtraBold';
  src: url('./assets/fonts/static/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  border: 4px solid blue;
}

main {
  /* border: 2px solid orangered; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 10px 10px 50px 10px;
}

.filter {
  border: 5px solid crimson;
  position: absolute;
  background-color: black;
  z-index: 1;
}

.lock{
  overflow: hidden;
}

/* NAV START */
nav ul {
  /* width: 100%; */
  list-style: none;
  display: none;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  height: 60px;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding: 0 20px;
  font-size: 20px;
  color: var(--Very-dark-blue);
}

nav a:hover {
  color: var(--Soft-orange);
}
/* NAV END */

/* SIDEBAR START */
.sidebar {
  position: fixed;
  top: 0;
  right: -999px;
  height: 100vh;
  width: 70%;
  z-index: 999;
  background-color: var(--Off-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  transition: right ease 0.3s;
}

.sidebar.open{
  right: 0;
}

.sidebar li {
  width: 100%;
  /* border: 1px solid brown; */
}

.sidebar a {
  width: 100%;
}

.sidebar li:first-child {
  padding: 50px 0px 100px 0;
  background-color: var(--Off-white);  
}

.sidebar li:first-child img {
  width: 35px;
  height: 35px;
}


.close a{
  justify-content: flex-end;
}

.close img {
  height: 80px;
}
/* SIDEBAR END */

/* HEADER START */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid cyan;
  width: 100%;
  padding: 20px 0 20px 0;
}

header img {
  /* border: 1px solid brown; */
  height: 25px;
}

header img:last-child{
  height: 20px;
}
/* HEADER END */

/* HERO  IMAGE START */
#hero-img {
  border: 1px solid orange;
  width: 100%;
}

#hero-img img{
  width: 100%;
}
/* HERO IMAGE END */

/* TITLE START */
#title {
  border: 1px solid darkolivegreen;
  width: 100%;
}

#title h1 {
  font-size: 40px;
  font-family: 'InterExtraBold', 'InterRegular';
  padding: 15px 0;
}
/* TITLE END */

/* DESCRIPTION START */
#description {
  border: 1px solid palevioletred;
  width: 100%;
}

p {
  font-size: 15px;

}

#description p {
  line-height: 1.5;
  color: var(--Dark-grayish-blue);
}
/* DESCRIPTION END */

/* READ MORE START */
#read-more {
  border: 1px solid crimson;
  padding: 20px 0;
  width: 100%;
  display: flex;
}

#read-more button {
  font-family: 'InterBold', sans-serif;
  font-size: 15px;
  padding: 15px 25px;
  border: none;
  letter-spacing: 5px;
  background-color: var(--Soft-red);
  color: var(--Very-dark-blue);
  transition: ease 0.3s;
  cursor: pointer;
}

#read-more button:hover {
  color: var(--Off-white);
  background-color: var(--Very-dark-blue);
}
/* READ MORE END */

/* NEW ARTICLE BOX START */
article:first-of-type {
  border: 1px solid darkblue;
  background-color: var(--Very-dark-blue);
  margin: 25px 0;
  padding: 15px 15px 0px 15px;
  width: 100%;
}

.new-news {
  border-bottom: 1px solid var(--Grayish-blue);
  padding: 20px 0;
  color: var(--Off-white);
}

.new-news:last-child {
  border: none;
}

.new-news-box h1 {
  /* border: 1px solid orangered; */
  font-family: 'InterBold', sans-serif;
  font-size: 35px;
  color: var(--Soft-orange);
}

.new-news p:nth-of-type(1) {
  font-family: 'InterBold', sans-serif;
  font-size: 20px;
  padding-bottom: 8px;
  transition: ease 0.3s;
  cursor: pointer;
}

.new-news p:nth-of-type(1):hover {
  color: var(--Soft-orange);
}


/* NEW ARTICLE BOX END */

/* NEWS BOX START */
article:last-of-type {
  border: 1px solid lime;
  width: 100%;
}

.news-box {
  border: 4px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px 0;
}

.news-box p {
  border: 1px solid orangered;
}

figure {
  border: 1px solid orangered;
  max-width: 120px;
  height: 100%;
}

figure img {
  width: 100px;
  height: 100%;
}

div {
  /* border: 2px solid crimson; */
  margin-left: 15px;
}

div p:nth-of-type(1) {
  font-family: 'InterBold';
  color: var(--Soft-red);
  font-size: 25px;
}

div p:nth-of-type(2) {
  font-family: 'InterExtraBold';
  padding: 18px 0;
  font-size: 15px;
}

div a {
  font-family: 'InterBold', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: ease 0.3s;
  cursor: pointer;
}

div a:hover {
  color: var(--Soft-red);
}


/* NEWS BOX END */